
body {
  display: block;
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

.company {
  background: black;
  color: white;
}

.logo {
  color: white;
}

.logo img {
  color: white;
  height: 1.5em;
  padding-right: 15px;
  border-style: none;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0px auto;
}
.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px .5em;
}

.main-banner {
  display: block;
  height: 450px;
  background: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner-container {
  display: flex;
  max-width: 960px;
  margin: 0px auto;
}
.headline {
  display: block;
  background-color: black;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

nav {
  background-color: Firebrick;
  color: white;
}

.nav-container {
  display: flex;
  max-width: 960px;
  margin: 0px auto;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75em 0px;
  list-style: none;
}

.nav-container {
  display: flex;
  max-width: 960px;
  margin: 0px auto;
}

.mobile-nav {
  display: none;
  max-width: 960px;
  margin: 0px auto;
  color: white;
  align-items: center;
}

li {
  display: list-item;
}

.product-container {
  display: block;
  max-width: 960px;
  margin: 0px auto;
}

.products {
  display: flex;
  justify-content: space-between;
  margin: 3em 0px 0px;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  height: 9em;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  border-image: initial;
  padding: 2em 0px;
}

.product-image img {
  max-width: 8em;
  border-style: none;
}

.product span {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: .5em;
}

.information-container {
  display: block;
  max-width: 960px;
  margin: 0px auto;
}

.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0px 0px;
}

.information {
  display: block;
  width: 35%;
}

.information .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

footer {
  display: block;
  background-color: black;
  color: white;
  margin-top: 4em;
  padding: 5em 0px;
}

.footer-container {
  display: block;
  max-width: 960px;
  margin: 0px auto;
}

@media only screen and (max-width: 1024px){
  body {
    font-size: 16px;
  }
  .mobile-nav {
    display: block;
    text-align: center;
  }

  .product-container {
    display: flex;
    max-width: 960px;
    margin: 0px auto;
  }

  .product {
    display: block;
    min-width: 47%;
    margin: 0px 3rem 0px;
}

  .nav-container {
    display: none;
}

}

@media ony screen and (max-width: 470px) {
  h4 {
    font-size: .77rem;
    font-weight: bold;
  }

  h1 {
    font-size: 1rem;
    font-weight: bold;
  }

  .banner-container {
    display: flex;
  }

  .product {
    display: block;
    width: 90%;
  }


}
